<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Join us to explore Koelinari app">
    <meta name="theme-color" content="#db0000"/>
    <link rel="icon" href="favicon.png">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <title>Koelinari Apps</title>
  </head>
  <body>
    <header class="app-bar">
      <div class="app-bar__menu"  aria-label="navigation-menu">
        <button id="hamburgerMenu">☰</button>
      </div>
      <div class="app-bar__brand">
        <h1>Koelinari</h1>
      </div>
      <nav id="navigationDrawer" class="app-bar__navigation">
        <ul>
          <li><a href="#/list-resto">Home</a></li>
          <li><a href="#/favorite">Favorite</a></li>
          <li><a href="https://dribbble.com/fitrihanung">About</a></li>
        </ul>
      </nav>
    </header>
    <div class="hero" role="img" aria-label="food menu on the main page">
      <div class="hero__inner">
        <h1 class="hero__title">Find your favorite culinary</h1>
        <p class="hero__tagline">Now you can easily find your favorite culinary spots without having to bother,
           just by using the Koelinari Apps you can find and grab it. </p>
      </div>
    </div>
    <main id="mainContent"></main>
    <footer>
      <p>Copyright &copy 2021 - Koelinari Apps</p>
    </footer>
  </body>
</html>
